[Unit]
Description=Turn on speakers using i2c configuration

[Service]
User=root
Type=oneshot
ExecStart=/bin/sh -c "/usr/local/bin/2pa-byps.sh | logger"

[Install]
WantedBy=multi-user.target
