configuration {
    modes: "drun";
	font: "CaskaydiaCove Nerd Font 14";
	location: 0;
	fixed-num-lines: true;
	show-icons: true;
	terminal: "rofi-sensible-terminal";
	icon-theme: "Papirus-Dark";
    display-drun: " ";
    drun-display-format: "{name}";
}

@theme "theme"
