* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
}

#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#custom-dunst,
/*#custom-power-menu,*/
#custom-window,
#custom-media,
#tray {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 0px 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 2px;
    margin-left: 2px;
}

#window {
    background-color: rgb(0, 0, 0);
    box-shadow: none;
    color: rgb(255, 255, 255);
}

window#waybar {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

window * {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#workspaces button label {
    color: rgb(255, 255, 255);
}

#workspaces button.active label {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration-line: underline;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-color:rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    border-radius: 12px;
    border: 2px solid white;
    min-width: 45px;
}

#workspaces {
    background-color: transparent;
    border-radius: 12px;
    padding: 5px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#workspaces button {
    background-color: transparent;
    border-radius: 12px;
    margin-left:10px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

#workspaces button.active {
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    background-size: 400% 400%;
    transition: all 0.3s ease;
    background-color: transparent;
}

#custom-power-menu {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 15px;
}

#custom-dunst {
    padding-left: 8px;
    padding-right: 8px;
}

#custom-media {
    margin-left: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: none;
    transition: all 0.3s ease;
}

#tray menu {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

#network {
    padding-left: 8px;
    padding-right: 8px;
}

#clock {
    padding-left: 8px;
    padding-right: 8px;
}

#backlight {
    padding-left: 8px;
    padding-right: 8px;
}

#battery {
    padding-left: 8px;
    padding-right: 8px;
}

#pluseaudio.muted {
    color: rgb(243, 139, 168);
    padding-right:15px;
}

#temperature {
    padding-left: 8px;
    padding-right: 8px;
}
